Creating a markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Creating a markdown cell for an introduction


In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Python
- Julia
- R
- Jupyter
- SQL

Creating a markdown cell to list the data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Creating a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Pandas
4. Matplotlib

Creating a markdown cell with a table of Data Science tools

| Data Science Tools | 
| -------------| 
| Jupyter | 
| R | 
| Python |

Creating a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# A simple arithmetic expression to multiply and then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours

200/60

3.3333333333333335

## Author
Krishaan Gannavarapu